<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Pipeline: {{vm.pipeline.name}}</h1>
        </div>
        <div class="col-md-4" style="padding-top: 25px">
            <button type="button" class="btn btn-primary" ng-click="vm.newLabel()"> + New Label</button>
            <button type="button" class="btn btn-primary" ng-click="vm.linkSC()" data-toggle="collapse" data-target="#selectWorkspace" aria-expanded="false" aria-controls="selectWorkspace">
                Link SocioCortex workspace
            </button>
        </div>
    </div>

    <div id="selectWorkspace" class="collapse">
        <div class="well">
            Workspace:
            <select name="workspaceSelect" id="workspaceSelect" ng-model="vm.workspace" ng-change="vm.getPages()">
                <option ng-repeat="option in vm.workspaces" value="{{option.id}}">{{option.name}}</option> <br />
            </select>
            <div ng-if='vm.workspace != ""'>
                <hr/>
                <p><b>Select entity types</b></p>
                <p ng-repeat="page in vm.pages">
                    <input type="checkbox" checklist-model="vm.selectedPages" checklist-value="page"> {{page.name}}
                </p>
            </div>
            <div ng-if='vm.selectedPages.length > 0'>
                <button type="button" class="btn btn-primary" ng-click="vm.updateLabels()">Update Labels</button>
            </div>
            <div align="right">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#selectWorkspace">
                    Close
                </button>
            </div>
        </div>
    </div>

    <div ng-if="vm.createLabelFlag === true" class="panel panel-primary">
        <div class="panel-body">
            <div class="input-group">
                <label>Label name:</label>
                <input type="text" class="form-control" ng-model="vm.labelName" required ng-trim="true" />

                <br />
                <label>Directory path:</label>
                <input type="text" class="form-control" ng-model="vm.labelPath" required ng-trim="true" />
            </div>
            <br />
            <div>
                <button type="button" class="btn btn-primary" ng-click="vm.createLabel()">Save</button>
                <button type="button" class="btn btn-default" ng-click="vm.cancelCreateLabel()">Cancel</button>
                <br/>
                <div ng-if="vm.message.length > 0" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{vm.message}}
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div ng-if="vm.pipeline.labels.length > 0">
        <h1>Document labels</h1>
        <table class="table">
            <tr>
                <th>Label name</th>
                <th>Directory path</th>
                <th></th>
            </tr>
            <tr ng-repeat="label in vm.pipeline.labels">
                <td>{{label.name}}</td>
                <td>{{label.path}}</td>
                <td><span class="glyphicon glyphicon-remove" ng-click="vm.removeLabel(label)"></span></td>
            </tr>
        </table>
    </div>

    <hr />
    <div ng-if="vm.pipeline.labels.length > 0">
        <button type="button" class="btn btn-primary" ng-click="vm.trainDocuments()">Train documents</button>
    </div>

    <br />
    <div ng-if="vm.showResults === true" class="jumbotron">
        <h2> Prediction results on test data</h2>
        <b>Accuracy: {{vm.results.Accuracy}}%</b> <br /><br />

        <b>Confusion Matrix </b>
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th ng-repeat="label in vm.pipeline.labels">{{label.name}}</th>
            </tr>
            <tr ng-repeat="label in vm.pipeline.labels track by $index">
                <td>{{label.name}}</td>
                <td ng-repeat="val in vm.cmatrix[label.name] track by $index">{{val}}</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>Class</th>
                <th>Precision(%)</th>
                <th>Recall(%)</th>
                <th>F1 Score(%)</th>
            </tr>

            <tr ng-repeat="label in vm.pipeline.labels track by $index">
                <td>{{label.name}}</td>
                <td ng-repeat="val in vm.results[label.name] track by $index">{{val}}</td>
            </tr>
        </table>

        <div><b>Weighted results</b></div>
        <div>Weighted precision: {{vm.results.weighted_precision}}%</div>
        <div>Weighted recall: {{vm.results.weighted_recall}}%</div>
        <div>Weighted F1 score: {{vm.results.weighted_F1_score}}%</div>
        <div>Weighted false positive rate: {{vm.results.weighted_false_positive_rate}}%</div>
    </div>
</div>
